* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div#app-boundary {
  padding: 24px;
  border-radius: 24px;
  border: 1px solid hsl(0 0% 30%);

  width: 448px;
  height: 640px;

  display: flex;
  flex-direction: column;
  gap: 12px;

}

header {
  flex-grow: 1;
}
header div {
  display: flex;
  align-items: end;
  gap: 24px;
}

main {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: hsl(0 0% 30%) transparent;
}

div.divider {
  display: flex;
  gap: 12px;
  align-items: center;
}
div.divider div {
  height: 1px;
  background-color: hsl(0 0% 30%);
  flex-grow: 1;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

li p.content {
  flex-grow: 1;
  text-align: start;
}

input.long {
  flex-grow: 1;
}

